/***********************************
 Grid
************************************/

.container {
	@include center(90%);
	padding: .75em;
}

.grid__row {
	@include flexy($dir: column);
	margin: 2em 0;
	@include mq('med') {
		flex-direction: row;
	}
}

.theme__colors.grid__col {
	@include themes($themes-grid);
}

.grid__col--3 {
	@include mq-flex-grow(1);
}

.grid__col--4 {
	@include mq-flex-grow(1);
	@includ mq('med') {
		width: 33.333333%;
	}
}

.grid__col--5 {
	@include mq-flex-grow(1);
}

.grid__col--6 {
	@include mq-flex-grow(1);
	@include mq('med') {
		@include flexy($align: center, $just: center);
	}
}

.grid__col--7 {
	@include mq-flex-grow(1.4);
}

.grid__col--8 {
	@include mq-flex-grow(2);
	@include mq('med') {
		width: 66.666666%;
	}
}

.grid__col--9 {
	@include mq-flex-grow(3);
}

.grid__row > .grid__col--9 {
	@include mq('med') {
		align-self: center;
	}
}

.grid__col--12 {
	@include mq-flex-grow(1);
	@include mq('med') {
		@include flexy($just: space-around);
	}
}

.theme__colors {
	@include mq('med') {
		width: inherit;
		text-align: center;
	}
}

.centered {
	@include mq('med') {
		width: calc(100% * 7/12);
		flex-grow: 0;
		margin: auto;
	}
}