/***********************************
 Images
************************************/

.img {
	&--logo {
		@extend %img;
		display: block;
		margin: 0 auto 2em;
		@include mq('med') {
			margin: 0;
		}
	}
	&--frame {
		@extend %img;
		border: 1px solid $color-text-light;
		padding: .75em;
		margin-bottom: 1.5em;
		@include mq('med') {
			margin-bottom: 0;
		}		
	}
	&--avatar {
		@extend %img;
	}
}